/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: url("bg.jpg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: rgb(15, 15, 15);
    text-decoration: none;
    padding: 5px 30px;
    font-family:poppins;
    font-size: 16px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.logo img{
    width: 100px;
    float: left;
    height: auto;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 10% 10%;
    text-align: center;
}
.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}
.welcome-text a{
    border: 1px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}
.welcome-text a:hover{
    background: #fff;
    color: #333;
}
/* Breakpoints / Making responsive */
@media (max-width: 1080px) {
    .nav {
        padding: 15px;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .shop {
        margin-top: 2rem !important;
    }
}
@media (max-width: 400px) {
    .nav{
        padding: 11px;
    }
    .logo {
        font-size: 1rem;
    }
    .cart {
        width: 320px;
    }
}
@media (max-width: 360px) {
    .shop {
        margin-top: 1rem !important;
    }
    .cart {
        width: 280px;
    }
}